/**
 * Styles for the {{ THEME NAME }} theme.
 */

/**img { max-width: 100%; width: auto; height: auto;}

.img1 {max-width: 100%; width: 500px; height: auto;}

.img1:hover {max-width: 100%; width: 800px; height: auto;}
*/
